<nav class="navbar navbar-inverse" style="background-color: red; color: white;">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a routerLink="header" class="navbar-brand" style="color: white">Home</a>
    </div> -->

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav ">
        <li><a routerLink="gamelist">Games</a></li>
        <li><a routerLink="game-console">Game Console</a></li>
        <li><a routerLink="shopping-cart">Cart</a></li>
      </ul>
      <ul class="nav navbar-right">
      <li><a routerLink="">Login</a></li>
      </ul>

    </div>
  </div>
</nav>


